.active {
  background-color: #addeff !important;
  color: #007bff !important;
  border-radius: 5px !important;
  padding: 5px !important;
  margin: 5px !important;
  font-weight: medium !important;
  text-decoration: none !important;
  cursor: pointer !important;
  transition: 0.3s !important;
}

@keyframes shrinkExpand {
  0%,
  100% {
    transform: scale(1.2); /* Original size */
  }
  50% {
    transform: scale(0.8); /* Shrink to 80% of the original size */
  }
}

.shrink-image {
  animation: shrinkExpand 3s infinite !important;
}
