<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <img
        src="https://res.cloudinary.com/dh7osyxvl/image/upload/v1718956240/Ultatel/wfmlbtxmvl817nb9ee4u.png"
        alt=""
        width="60"
        class="shrink-image"
      />
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" *ngIf="isUserLoggedIn">
            <a
              class="nav-link active fs-4 fw-medium"
              aria-current="page"
              routerLink="/home"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              >Students</a
            >
          </li>
          <li class="nav-item" *ngIf="isUserLoggedIn">
            <a
              class="nav-link active fs-4 fw-medium"
              aria-current="page"
              routerLink="/home/courses"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              >Courses</a
            >
          </li>
          <li class="nav-item" *ngIf="isUserLoggedIn">
            <a
              class="nav-link active fs-4 fw-medium"
              aria-current="page"
              routerLink="/home/grades"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              >Grades</a
            >
          </li>
        </ul>
      </div>
      <button
        class="btn btn-danger fs-5 fw-medium me-5"
        (click)="logout()"
        *ngIf="isUserLoggedIn"
      >
        Logout
      </button>
    </div>
  </nav>
</div>
