<div class="container">
  <div class="row">
    <img
      class="img-fluid center-block w-25"
      src="https://static.crozdesk.com/web_app_library/providers/logos/000/013/313/original/ultatel-1669216173-logo.png?1669216173"
      alt=""
    />
  </div>
  <div class="d-flex flex-row justify-content-between p-3">
    <h4 class="fw-medium fs-2">Students</h4>
    <button class="btn btn-success rounded-4 fs-4 w-25" (click)="addStudent()">
      + Add Student
    </button>
  </div>
  <div class="row">
    <app-search-and-filter
      (inputEvent)="getStudents($event)"
    ></app-search-and-filter>
  </div>

  <div class="row">
    <app-students [studentsFromHome]="students"></app-students>
  </div>
</div>
