<div class="container">
  <div class="row">
    <img
      class="logo w-25"
      src="https://static.crozdesk.com/web_app_library/providers/logos/000/013/313/original/ultatel-1669216173-logo.png?1669216173"
      alt="Ultatel Logo"
    />
  </div>
  <h4 class="title">Edit Student</h4>
  <div class="form-container">
    <form [formGroup]="EditStudentForm">
      <div class="form-row">
        <div class="form-column">
          <div>
            <label for="name">Name</label>
            <input
              formControlName="name"
              type="text"
              class="form-control"
              id="name"
              placeholder="Enter name"
              value="{{ student.name }}"
            />

            <!-- <div class="alert alert-danger" *ngIf="!nameValid">
              Name is Invalid
            </div>

            <div class="alert alert-danger" *ngIf="student.name == ''">
              Name is Required
            </div> -->
          </div>
          <p>{{ genderValid }}</p>
          <div>
            <label for="gender">Gender</label>
            <select
              class="form-control"
              id="gender"
              formControlName="gender"
              value="{{ student.gender }}"
            >
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>

            <!-- <div
              class="alert alert-danger"
              *ngIf="
                EditStudentForm.get('gender')?.invalid &&
                EditStudentForm.get('gender')?.touched
              "
            >
              Gender is Required
            </div> -->
          </div>
          <div>
            <label for="country">Country</label>
            <select
              class="form-control"
              id="country"
              formControlName="country"
              value="{{ student.country }}"
            >
              <option value="usa">USA</option>
              <option value="uk">UK</option>
              <option value="canada">Canada</option>
            </select>

            <!-- <div
              class="alert alert-danger"
              *ngIf="countryValid || student.country == ''"
            >
              Country is Required
            </div> -->
          </div>
          <div>
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Enter email"
              value="{{ student.email }}"
            />
            <!-- @if (student.email=='') {
            <div class="alert alert-danger">Email is Required</div>
            } @if (!emailValid) {
            <div class="alert alert-danger">Email is Invalid</div>
            } -->
          </div>
          <div class="form-group">
            <label for="birthdate">Birthdate</label>
            <input
              formControlName="birthDate"
              type="date"
              class="form-control"
              id="birthdate"
              placeholder="Enter birthdate"
            />
            <!-- @if (student.birthDate=='') {
            <div class="alert alert-danger">Birthdate is Required</div>
            } @if (!birthDateValid) {
            <div class="alert alert-danger">Birthdate is Invalid</div>
            } -->
          </div>
          <button class="btn btn-success" (click)="onSubmit()">
            Update Student
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
