<div *ngIf="studentsFromHome.length > 0; else nostudents">
  <div class="d-flex flex-row align-items-center mt-3">
    <label for="rows" class="fs-5 fw-medium">Show Entries</label>
    <select
      [(ngModel)]="rows"
      id="rows"
      class="form-control w-auto ms-3"
      (change)="onRowsChange()"
    >
      <option>10</option>
      <option>20</option>
      <option>30</option>
      <option>40</option>
      <option>50</option>
    </select>
  </div>
  <p-table
    [value]="studentsFromHome"
    [rows]="rows"
    [paginator]="true"
    [paginatorPosition]="'bottom'"
    [rowHover]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th>Image</th>
        <th pSortableColumn="firstName">
          Name<p-sortIcon field="firstName" />
        </th>
        <th pSortableColumn="birthDate">Age<p-sortIcon field="birthDate" /></th>
        <th pSortableColumn="gender">Gender<p-sortIcon field="gender" /></th>
        <th pSortableColumn="email">Email<p-sortIcon field="email" /></th>
        <th pSortableColumn="country">Country<p-sortIcon field="country" /></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-student>
      <tr>
        <td>
          <button
            class="btn btn-outline-success rounded-circle"
            (click)="editStudent(student.id)"
          >
            <i class="bi bi-pencil"></i>
          </button>
        </td>

        <td>
          <p-avatar
            icon="pi pi-user"
            styleClass="mr-2"
            size="xlarge"
            shape="circle"
          />
        </td>
        <td>{{ student.firstName + " " + student.lastName }}</td>
        <td>{{ calculateAge(student.birthDate) }} Years</td>
        <td>{{ student.gender }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.country }}</td>
        <td>
          <button
            class="btn btn-outline-danger rounded-circle"
            (click)="deleteStudent(student.id)"
          >
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are
        {{ studentsFromHome ? studentsFromHome.length : 0 }} students.
      </div>
    </ng-template>
  </p-table>
</div>

<ng-template #nostudents>
  <div class="text-center fs-3 fw-bold m-5">No students Found</div>
</ng-template>
