<div *ngIf="studentsFromHome.length > 0; else nostudents">
  <div class="d-flex flex-row align-items-center mt-3">
    <label for="rows" class="fs-5 fw-medium">Show Entries</label>
    <select
      [(ngModel)]="rows"
      id="rows"
      class="form-control w-auto ms-3"
      (change)="onRowsChange()"
    >
      <option>10</option>
      <option>20</option>
      <option>30</option>
      <option>40</option>
      <option>50</option>
    </select>
  </div>
  <p-table
    [value]="studentsFromHome"
    [rows]="rows"
    [paginator]="true"
    [paginatorPosition]="'both'"
  >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th>
          Name<button class="btn" (click)="sortByName()">
            <i class="bi bi-sort-alpha-up"></i>
          </button>
        </th>
        <th>
          Age<button class="btn" (click)="sortByAge()">
            <i class="bi bi-sort-up"></i>
          </button>
        </th>
        <th>
          Gender<button class="btn" (click)="sortByGender()">
            <i class="bi bi-sort-up"></i>
          </button>
        </th>
        <th>
          Email<button class="btn" (click)="sortByEmail()">
            <i class="bi bi-sort-up"></i>
          </button>
        </th>
        <th>
          Country<button class="btn" (click)="sortByCountry()">
            <i class="bi bi-sort-up"></i>
          </button>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-student>
      <tr>
        <td>
          <button class="btn" (click)="editStudent(student.id)">
            <i class="bi bi-pencil"></i>
          </button>
        </td>
        <td>{{ student.firstName + " " + student.lastName }}</td>
        <td>{{ calculateAge(student.birthDate) }} Years</td>
        <td>{{ student.gender }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.country }}</td>
        <td>
          <button class="btn" (click)="deleteStudent(student.id)">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div class="fs-5 fw-medium mt-2">
    Showing {{ studentsFromHome.length }} of
    {{ studentsFromHome.length }} entries
  </div>
</div>

<ng-template #nostudents>
  <p>No students yet.</p>
</ng-template>
