<div class="container mt-5">
  <div class="card rounded-4">
    <div class="card-body">
      <form>
        <div class="form-row d-flex">
          <div class="d-flex flex-column w-50 m-4">
            <div class="form-group mb-4">
              <label for="name" class="fs-4 fw-medium text-muted mb-4"
                >Name</label
              >
              <input
                type="text"
                class="form-control fs-4"
                id="name"
                placeholder="Name"
              />
            </div>
            <div class="form-group">
              <label for="country" class="fs-4 fw-medium text-muted mb-4"
                >Country</label
              >
              <select id="country" class="form-control fs-4">
                <option selected>Choose...</option>
                <option>Country 1</option>
                <option>Country 2</option>
                <option>Country 3</option>
              </select>
            </div>
          </div>
          <div class="d-flex flex-column w-50 m-4">
            <div class="form-group mb-4">
              <label for="ageFrom" class="fs-4 fw-medium text-muted mb-4"
                >Age</label
              >
              <div class="d-flex">
                <input
                  type="number"
                  class="form-control fs-4 me-4"
                  id="ageFrom"
                  placeholder="From"
                />

                <input
                  type="number"
                  class="form-control fs-4 ms-4"
                  id="ageTo"
                  placeholder="To"
                />
              </div>
            </div>
            <div class="form-group">
              <label for="gender" class="fs-4 fw-medium text-muted mb-4"
                >Gender</label
              >
              <select id="gender" class="form-control fs-4">
                <option selected>Choose...</option>
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-row d-flex justify-content-end mt-3 w-100 pe-4">
          <button
            type="submit"
            class="btn btn-primary me-4 w-25 fs-5 rounded-4"
          >
            Search
          </button>
          <button
            type="reset"
            class="btn btn-secondary ms-4 w-25 fs-5 rounded-4"
          >
            Reset
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
