<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="text-center mt-5">
        <img
          src="https://static.crozdesk.com/web_app_library/providers/logos/000/013/313/original/ultatel-1669216173-logo.png?1669216173"
          alt="ULTATEL Logo"
          class="mb-4"
        />
      </div>
      <div class="card">
        <div class="card-header text-center">
          <h4>Register</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="fullName">Full Name</label>
              <input
                type="text"
                class="form-control"
                id="fullName"
                placeholder="Full Name"
              />
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="your email"
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="********"
              />
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm Password</label>
              <input
                type="password"
                class="form-control"
                id="confirmPassword"
                placeholder="********"
              />
            </div>
            <button type="submit" class="btn btn-primary btn-block">
              Register
            </button>
          </form>
        </div>
        <div class="card-footer text-center">
          <a routerLink="/login">Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
