<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="row m-5 justify-content-center d-flex">
        <img
          class="img-fluid center-block w-50"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1OfJviFca_oVMEtI3gdL3BjJIZQ-gDYxopw&s"
          alt=""
        />
      </div>
      <div class="card rounded-5 text-center">
        <div class="card-body">
          <h4 class="fs-1 fw-bold text-center mt-3">Register</h4>
          <form [formGroup]="registerForm">
            <div class="form-group text-start m-5">
              <label for="fullName" class="fs-4 text-muted mb-3"
                >Full Name</label
              >
              <input
                type="text"
                formControlName="fullName"
                class="form-control fs-5"
                id="fullName"
                placeholder="Full Name"
              />
              @if (!fullNameValid) {
              <div class="alert alert-danger fs-5">Full Name is Invalid</div>
              }
            </div>
            <div class="form-group text-start m-5">
              <label for="email" class="fs-4 text-muted mb-3">Email</label>
              <input
                type="email"
                formControlName="email"
                class="form-control fs-5"
                id="email"
                placeholder="your email"
              />
              @if (!emailValid) {
              <div class="alert alert-danger fs-5">Email is Invalid</div>
              }
            </div>
            <div class="form-group text-start m-5">
              <label for="password" class="fs-4 text-muted mb-3"
                >Password</label
              >
              <input
                type="password"
                formControlName="password"
                class="form-control fs-5"
                id="password"
                placeholder="********"
              />
              @if (!isLengthValid || !hasUppercaseChar || !hasLowercaseChar ||
              !hasSpecialChar || !hasNumber || passwordValid) {
              <div class="{{ passwordMessageClass }} fs-5">
                <div class="mb-3 fw-medium">{{ passwordMessage }}</div>
                Password must be at least
                <span
                  [ngClass]="
                    isLengthValid ? 'text-success fw-medium' : 'text-danger'
                  "
                  >8 characters long </span
                >and contain at least
                <span
                  [ngClass]="
                    hasUppercaseChar ? 'text-success fw-medium' : 'text-danger'
                  "
                  >1 uppercase letter</span
                >,
                <span
                  [ngClass]="
                    hasLowercaseChar ? 'text-success fw-medium' : 'text-danger'
                  "
                  >1 lowercase letter</span
                >,
                <span
                  [ngClass]="
                    hasNumber ? 'text-success fw-medium' : 'text-danger'
                  "
                  >1 number</span
                >, and
                <span
                  [ngClass]="
                    hasSpecialChar ? 'text-success fw-medium' : 'text-danger'
                  "
                  >1 special character</span
                >
              </div>
              }
            </div>
            <div class="form-group text-start m-5">
              <label for="confirmPassword" class="fs-4 text-muted mb-3"
                >Confirm Password</label
              >
              <input
                type="password"
                formControlName="confirmPassword"
                class="form-control fs-5"
                id="confirmPassword"
                placeholder="********"
              />
              @if (!passwordMatch) {
              <div class="alert alert-danger fs-5">Passwords do not match</div>
              }
            </div>
            <button
              type="submit"
              class="btn btn-primary btn-block w-25 fs-3"
              (click)="onSubmit($event)"
            >
              Register
            </button>
          </form>
        </div>
        <div class="card-footer text-center">
          <a routerLink="/login" class="fs-4">Already Registered? Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
